/*-- scss:defaults --*/

// See the link below for an overview of the available variables
// and how to customize them.
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

// Color built-ins the same as regular variables
// since we sometimes use built-in names as parameter names
span.bu {
  color: inherit !important
}
// Color terminal executables the same as regular variables
// since the default has low contrast and is hard to see
span.ex {
  color: inherit !important
}
